$min-width: 320px;
$max-width-container: 1202px;
$md1: 1199.9px;
$md2: 991.9px;
$md3: 767.9px;
$md4: 479.9px;
$font-family: 'Lato', sans-serif;
$blue-color: #3E9CDC;
$dark-blue-color: #286690;
$hover-blue-color: #43ABF0;
$light-gray-color: #BBBBBB;
$gray-color: #6F6D7B;
$dark-color: #272733;
$white-color: #FFFFFF;
$black-color: #000;
$bg-color: #3D4050;