.order {
    min-height: 920px;    
    background: url('../img/order/order-bg.png') center/cover no-repeat;
    background-color: #272733;  
    
    @media (max-width: $md2) {        
        min-height: 850px; 
    }

    &__body {
        text-align: center;
    }

    &__title {
        font-family: 'Lato-Heavy';
        font-weight: 800;
        font-size: 36px;
        line-height: 43px;        
        text-transform: uppercase;
        margin-bottom: 30px;

        @media (max-width: $md2) {        
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 20px;
        }

        @media (max-width: $md3) {        
            font-size: 28px;
            line-height: 32px;            
        }

        @media (max-width: $md4) {        
            font-size: 22px;
            line-height: 26px;
        }
    }

    &__title span {
        color: $blue-color;
    }

    &__subtitle {
        font-size: 18px;
        line-height: 22px;
        color: $light-gray-color;
        margin-bottom: 80px;

        @media (max-width: $md2) {        
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 60px;
        }
    }

    &__scheme {
        margin-bottom: 50px;
    }
}

.scheme-order {

    &__list {
        display: flex;
        @media (max-width: $md1) {        
            flex-wrap: wrap;
        }
    }

	&__column {
        flex: 1 1 209px;
        display: flex;        
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        &:not(:last-child) {
            margin-right: 30px;
        }

        @media (max-width: $md1) {      
            margin: 0 15px 30px 15px;  
            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}

.column-scheme {

    &:not(:last-child) &__icon {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 48%;
            left: 121%;
            width: 110px;
            height: 6px;
            background: url('../img/order/dots.png') center/cover no-repeat;

            @media (max-width: $md1) {        
                display: none;
            }
        }
    }

    &__icon {        
        width: 100px;
        flex: 0 0 100px;        
        border: 5px solid $dark-blue-color;
        border-radius: 100%;
        margin-bottom: 20px;        

        &_1 {
            background: url('../img/order/icon-1.png') center no-repeat;
            background-color: $blue-color;
        }

        &_2 {
            background: url('../img/order/icon-2.png') center no-repeat;
            background-color: $blue-color;
        }

        &_3 {
            background: url('../img/order/icon-3.png') center no-repeat;
            background-color: $blue-color;
        }

        &_4 {
            background: url('../img/order/icon-4.png') center no-repeat;
            background-color: $blue-color;
        }

        &_5 {
            background: url('../img/order/icon-5.png') center no-repeat;
            background-color: $blue-color;
        }        
    }

	&__title {
        text-align: center;
        padding: 0 10.5px;        
        font-size: 16px;
        line-height: 19px;
    }
}

.form-order {

    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fit, 370px);
        grid-template-rows: 48px;
        grid-auto-flow: row;
        gap: 30px;
        margin-bottom: 50px;

        @media (max-width: $md1) {        
            grid-template-columns: repeat(auto-fit, 1fr);
        }

        @media (max-width: $md2) {        
            grid-template-columns: 1fr;
        }        
    }    

    &__label {     
        display: block;
        width: 100%;
        height: 100%;
    }

    &__slider {
        grid-column: 1/3;

        @media (max-width: $md2) {        
            grid-column: 1/2;
        }
    }

    &__input {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        background: rgba(255, 255, 255, 0.85);
        border: 1px solid $white-color;
        border-radius: 3px;  
        font-size: 18px;
        color: $dark-color;      
        transition: border-color 0.3s ease, border-width 0.3s ease;
        &:focus {            
            border-color: $blue-color;
            border-width: 3px;
        } 

        &::placeholder {
            font-size: 18px;
            color: $dark-color;
        }

        &_file {
            position: absolute;
            width: 1px;
            height: 1px;
            opacity: 0;
            
            &:focus-visible + .form-order__file-text {
                outline: 2px solid $blue-color;
	            outline-offset: 3px;
            }          
        }
    }

    &__file-text {
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 48px;
        background: $white-color;
        border: 2px solid $blue-color;
        border-radius: 3px;        
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        color: $dark-color;
        transition: border-width 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                border-width: 4px;
            }
        }	
    }

    &__file-text span {
        margin-right: 10px;
    }

    &__btn {
        width: 370px;
        height: 48px;

        @media (max-width: $md4) {        
            width: 260px;
        }
    }
}

.slider-form {

    &__label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__descr {
        font-size: 18px;

        @media (max-width: $md4) {        
            font-size: 14px;
        }
    }    

    &__number,
    &__text {
        font-weight: 600;
        color: rgba(255, 255, 255, 0.85);

        @media (max-width: $md4) {        
            font-size: 16px;
        }
    }
}

		




		



		